*.iml
.gradle
.idea
/local.properties
/.idea
.DS_Store
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# Android build outputs
/build/
/app/build/
*.apk
*.jks
*.keystore
*token*
*.txt
keystore*
tasks/
*cookies*
*.db
tests/__pycache__/
__pycache__/
